.input {
  height: 42px;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  color: $color-dove-gray;
  font-family: 'Segoe UI Light',sans-serif;
  &::placeholder {
    font-size: 16px;
    font-family: 'Segoe UI Light',sans-serif;
    line-height: 16px;
  }
}

.textarea {
  height: 167px;
  width: 755px;
  display: block;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
  color: $color-dove-gray;
  font-family: 'Segoe UI Light',sans-serif;
  &::placeholder {
    font-size: 16px;
    font-family: 'Segoe UI Light',sans-serif;
    line-height: 16px;
  }
}

input::placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input:focus::placeholder {opacity: 0; transition: opacity 0.3s ease;}

textarea::placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::placeholder {opacity: 0; transition: opacity 0.3s ease;}
