.input {
  height: 42px;
  width: 100%;
  font-size: 30px;
  padding-left: 10px;
  color: $color-dove-gray;
}

.textarea {
  height: 167px;
  width: 755px;
  display: block;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
  color: $color-dove-gray;
}
